.cart-items
{
display: flex;
justify-content: center;
max-width: 1280px;
width: 100%;
gap: 48px;
flex-direction: column;
margin: auto;
padding: 48px 0px;
}

.cart-button
{
    display: flex;
  width: 100%;
  height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
}

.cart-button button
{
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
}

.cart-button button:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
}

.checkout-button 
{
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    width: 30%;
    text-align: center;
}

.checkout-button:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
}
